mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Полный спектр #[span услуг компании]
			+e.row.row
				mixin item(i, t, ...items)
					.col-lg-6.col-xl-4
						+e.A.item(href='#')
							+e.img-wrap
								+img(`img/sServices-${i}.jpg`, `bg`)
							+e.item-content
								h4!= t
								ul
									each item in items
										li!= item
							+e.btn
								+icon('arrow-right')

				+item(1, `Проектирование и&nbsp;расчет устойчивости шпунтовых ограждений`, 
					`Собственный проектный отдел`,
					`Совместное управление проектами с&nbsp;Tecnoterra&nbsp;SA (Швейцария)`)
				+item(2, `Трубошпунт`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)
				+item(3, `Аренда шпунта`, 
					`Низкий обеспечительный платеж (залог)`,
					`Договор аренды без перехода права собственности`,
					`Залоговая стоимость металла не&nbsp;облагается НДС`,
					`Вы&nbsp;не&nbsp;несете ответственность за&nbsp;состояние шпунта при его возврате`)
				+item(4, `Строительно-монтажные работы со&nbsp;шпунтом`, 
					`Вибропогружение`,
					`Статическое вдавливание`,
					`Бурение`)
				+item(5, `Выкуп шпунта`, 
					`Гарантированный обратный выкуп шпунта с&nbsp;демонтажем`,
					`Вы&nbsp;получите деньги в&nbsp;день выемки`)
				+item(6, `Сварка&nbsp;/ Стыковка&nbsp;/ Восстановление`, 
					`Собственная производственная база 2000 кв.м.&nbsp;в&nbsp;г. Можайск (Московская обл.)`,
					`Срочный выкуп неликвидных остатков`)

	// end sServices