mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Полный спектр #[span услуг компании]
			+e.row.row
				mixin item(i, t, ...items)
					.col-lg-6.col-xl-4
						+e.A.item(href='#')
							+e.img-wrap
								+img(`img/sServices-${i}.jpg`, `bg`)
							+e.item-content
								h4!= t
								ul
									each item in items
										li!= item
							+e.btn
								+icon('arrow-right')

				+item(1, `Проектирование и&nbsp;расчет устойчивости шпунтовых ограждений`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)
				+item(2, `Трубошпунт`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)
				+item(3, `Аренда шпунта`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)
				+item(4, `Монтаж&nbsp;/ Демонтаж`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)
				+item(5, `Выкуп шпунта`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)
				+item(6, `Сварка&nbsp;/ Стыковка&nbsp;/ Восстановление`, 
					`Альтернатива всем видам шпунта с&nbsp;уменьшением сметы расходов до&nbsp;45%`,
					`Сертифицированное собственное производство`)

	// end sServices