mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col-md-6
					+e.A.logo(href="/")
						img(src="img/svg/logo.svg" alt="")
						span ABM ИНЖИНИРИНГ
					+e.menu
						ul
							li
								a(href="#") Трубошпунт
							li
								a(href="#") Аренда
							li
								a(href="#") Продажа
							li
								a(href="#") Услуги
							li
								a(href="#") Выкуп
					+e.submenu
						ul
							li
								a(href="#") Спецтехника
							li
								a(href="#") Наши работы
							li
								a(href="#") О компании
							li
								a(href="#") FAQ
							li
								a(href="#") Глоссарий
							li
								a(href="#") Новости/Блог
							li
								a(href="#") Контакты

				.col-md-6
					.row
						.col
							+e.requisites
								+e.A.tel(href="tel:+84958856053") 8 (495) 885-60-53
								+e.A.tel(href="tel:+84958855011") 8 (495) 885-50-11
						.col-xl-auto
							+e.btn(href="#"  data-src='modal-call' data-fancybox="modal").btn.btn-outline-primary
								+icon('phone-call')
								| Связаться с нами
					+e.A.email(href="mailto:info@avmsteel.ru") info@avmsteel.ru

					+soc()
						//- +item-sos('telegram').--telegram
						//- +item-sos('whatsapp').--whatsapp
						//- +item-sos('viber').--viber
					+e.inner-row.row
						.col-sm-auto.d-flex.align-items-center
							+dowload-link('Реквизиты организации')
						.col-sm-auto
							+e.scroll-up
								| Наверх
								+e.icon-wrap
									+icon('arrow-up')

		+e.bottom-line
			.container
				+e.row.row
					.col-md-6
						+e.copyright.text-secondary #[span.currentYear] © ООО «АВМ инжиниринг». Все права защищены.
					.col-md-6
						+e.row-sm.row
							.col-xxl-auto
								+e.policy.secondary-link(href="#") Политика конфиденциальности
							.col
								+e.developer Разработка сайта – #[a(href="#" target="_blank").strong Artsman] 
