mixin sMounting(data)
	// start sMounting
	+b.SECTION.sMounting.section#sMounting&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Монтаж шпунта осуществляется <br> #[span двумя способами]
				
			+e.row.row
	// end sMounting