
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data Связаться с нами
					p.after-headline Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей
				+e.content
					+input("Ваше Имя", 'text')(required).is-invalid
					+input("Ваш телефон", 'tel')(required).is-valid
					//- +input("Ваш email", 'email')(required)  
					+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Отправить заявку
					+policy()
	// #modal-call
	
	// end modals