mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+e.req-item
						+e.A.tel(href="tel:+84958856053") 8 (495) 885-60-53
						+e.A.tel(href="tel:+84958855011") 8 (495) 885-50-11
						+e.A.email(href="mailto:info@avmsteel.ru") info@avmsteel.ru
					+soc()
						//- +item-sos('telegram').--telegram
						//- +item-sos('whatsapp').--whatsapp
						//- +item-sos('viber').--viber
					+e.req-item
						.strong Полное наименование: <br> Общество с ограниченной ответственностью «АВМ инжиниринг» <br> Сокращенное наименование: ООО «АВМ инижиниринг»
					+e.req-item
						ul
							li ИНН 9718158914
							li КПП 771801001
							li ОКПО 44850998
							li ОКАТО 45263581000
							li ОГРН 1207700240197
							li ТКВЭД 28.15
					+e.req-item
						ul
							li Филиал Точка Публичного акционерного общества Банка &laquo;Финансовая Корпорация Открытие&raquo;
							li БИК 044525999
							li К/С 30101810845250000999&nbsp;в ГУ&nbsp;банка России по&nbsp;ЦФО
							li Р/С 40702810002500106469
					+e.req-item
						p.text-secondary Юридический, фактический и&nbsp;почтовый адрес: 107150, Россия, г. Москва, Улица Пермская, дом&nbsp;11, строение&nbsp;5, этаж&nbsp;3, помещение 324А
					+e.req-item
						p.text-secondary Адрес производства и&nbsp;складов: 143200, Россия, Московская обл, г. Можайск, Улица Мира, 105
					+e.req-item
						p.text-secondary Адрес офиса: 107150, Россия, г. Москва, Улица Пермская, дом&nbsp;11, строение&nbsp;5, этаж&nbsp;6, помещение 601В (этот&nbsp;же адрес добавить в&nbsp;карту&nbsp;&mdash; везде где у&nbsp;нас есть карта и&nbsp;поставить метку&nbsp;&mdash; и&nbsp;соотвевстевнно со&nbsp;страницы контактов построение маршрута делать на&nbsp;этот адрес
					+dowload-link('Скачать реквизиты')

				.col-lg-6
					+b.section-title
						h2 Связаться с нами
						p Если у&nbsp;вас есть вопросы или предложения свяжитесь с&nbsp;нами через контактную форму ниже
					+form-wrap
						.row
							.col-xl-6
								+input('Ваше имя', 'text', 'Ваше имя')
							.col-xl-6
								+input('Ваш телефон', 'tel', 'Ваш телефон')
							.col-xl-6
								+input('Ваша должность', 'text', 'Ваша должность')
							.col-xl-6
								+input('Ваш email', 'email', 'Ваш email')
							.col-xl-6
								+input('Название компании', 'text', 'Название компании')
							.col-xl-6
								+input('Адрес компании', 'text', 'Адрес компании')
							.col-12
								+input('Ваше сообщение', 'textarea', 'Ваше сообщение')
							.col-12
								+policy()
							.col-md-auto
								+btn('Отправить', typ= "submit").btn.btn-primary

		+e.cards
			.container 
				.row
					.col-md-6.col-lg-4
						+e.A.card-item(href="tel:+84958856053")
							span Дмитрий
							span 8 (495) 885-60-53
							span Расчет строительно-монтажных работ
					.col-md-6.col-lg-4
						+e.A.card-item(href="tel:+84958856053")
							span Алексей
							span 8 (495) 885-60-53
							span Продажа и&nbsp;аренда шпунта, работа под ключ
					.col-md-6.col-lg-4
						+e.A.card-item(href="tel:+84958856053")
							span Николай
							span 8 (495) 885-60-53
							span Выкуп шпунта по&nbsp;максимальной рыночной цене
		+e.map-wrap
			.container
				+e.map
					script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')
					+e.map-widget#map
				+e.navigation
					h4 Проложить маршрут к&nbsp;главному офису
					+e.map-btn(href="#")
						+e.img-wrap
							+img(`img/svg/yandex-icon.svg`)
						span Яндекс.Карты
					+e.map-btn(href="#")
						+e.img-wrap
							+img(`img/svg/nav-icon.svg`)
						span Навигатор

			.container
				p Склады по&nbsp;всей территории РФ. Для уточнения наличия металла в&nbsp;вашем городе&nbsp;&mdash; звоните по&nbsp;телефону.
	// end sContact
