mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span Трубошпунт]&nbsp;&mdash; выгодная альтернатива Шпунту Ларсена
			+e.row.row
				.col-lg-6
					h3 При использовании трубошпунта 
						span Вы получите:
					ul
						li Экономию до&nbsp;40% средств в&nbsp;сравнении с&nbsp;использованием Шпунта Ларсена
						li Низкую стоимость и&nbsp;меньший вес квадратного метра ограждающей стенки
						li Сокращение циклов погружения за&nbsp;счет ширины сваи в&nbsp;сравнении с&nbsp;Шпунтом Ларсена
						li Вариативность в&nbsp;формировании любой конструкции и&nbsp;выборе любой необходимой длины шпунта
						li Более высокие показатели несущей способности, металлоёмкости и&nbsp;безопасности относительно Шпунта Ларсена
						li Подходит для любого типа грунта
				.col-lg-6
					+e.img-wrap
						.img-wrap-center
							+img('img/sAdvantages-img-1.jpg')
			+e.footer
				h5 Подберем для Вас замену любого вида и&nbsp;марки Шпунта Ларсена
				+e.btn.btn.btn-primary(href='#') Узнать подробнее
	// end sAdvantages


mixin sAdvantages2(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span СЕО-описание] для страницы
			+e.row.row
				.col-lg-6
					+e.img-wrap
						.img-wrap-center
							+img('img/sAdvantages-img-1.jpg')
				.col-lg-6
					+e.wrap
						h3 #[span Наша сильная сторона] - решение нестандартных задач любой сложности
						p Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а&nbsp;также реальное распределение букв и&nbsp;пробелов в&nbsp;абзацах, которое не&nbsp;получается при простой дубликации &laquo;Здесь ваш текст..
						p Здесь ваш текст.. Здесь ваш текст..&raquo; Многие программы электронной вёрстки и&nbsp;редакторы HTML используют Lorem Ipsum в&nbsp;качестве текста по&nbsp;умолчанию, так что поиск по&nbsp;ключевым словам &laquo;lorem ipsum&raquo; сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За&nbsp;прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по&nbsp;ошибке, некоторые&nbsp;&mdash; намеренно (например, юмористические варианты).
	// end sAdvantages