mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span Трубошпунт]&nbsp;&mdash; выгодная альтернатива Шпунту Ларсена
			+e.row.row
				.col-lg-6
					h3 При использовании трубошпунта 
						span Вы получите:
					ul
						li Экономию до&nbsp;40% средств в&nbsp;сравнении с&nbsp;использованием Шпунта Ларсена
						li Низкую стоимость и&nbsp;меньший вес квадратного метра ограждающей стенки
						li Сокращение циклов погружения за&nbsp;счет ширины сваи в&nbsp;сравнении с&nbsp;Шпунтом Ларсена
						li Вариативность в&nbsp;формировании любой конструкции и&nbsp;выборе любой необходимой длины шпунта
						li Более высокие показатели несущей способности, металлоёмкости и&nbsp;безопасности относительно Шпунта Ларсена
						li Подходит для любого типа грунта
				.col-lg-6
					+e.img-wrap
						.img-wrap-center
							+img('img/sAdvantages-img-1.jpg')
			+e.footer
				h5 Подберем для Вас замену любого вида и&nbsp;марки Шпунта Ларсена
				+e.btn.btn.btn-primary(href='#') Узнать подробнее
	// end sAdvantages