mixin cert-slide(i)
	+e.slide.swiper-slide
		+e.A.img-wrap(data-fancybox='sCertificates' data-src=`img/sCertificates-lg-${i}.jpg`)
			+e.btn-zoom
				+icon('zoom')
			.img-wrap-center
				+img(`img/sCertificates-${i}.jpg`, 'bg')

mixin sCertificates(def=true)
	// start sCertificates
	+b.SECTION.sCertificates.section#sCertificates&attributes(attributes)
		.container
			+b.section-title.text-center
				if def
					h2 Необходимые 
						span сертификаты <br> и&nbsp;допуски
				else
					h2 Сертификаты 
						span и ТУ
			+e.slider-wrap
				+e.slider--js.swiper
					.swiper-wrapper
						+cert-slide(1)
						+cert-slide(2)
						+cert-slide(3)
						+cert-slide(4)
						+cert-slide(5)
						+cert-slide(6)
						+cert-slide(7)
						+cert-slide(8)
						+cert-slide(9)
				+arrow-rounded()

	// end sCertificates