mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes).bg-wrap
		+img('img/headerBlock-img-1.jpg', 'bg').picture-bg
		.container
			+e.row.row
				.col-lg
					+e.content
						h1 Шпунт Ларсена
						h3 Л4, Л5, Л5УМ, VL, AZ, GU, ZU, ZZ, Трубошпунт, ПВХ
				.col-lg
					ul
						mixin link(title)
							+e.link(href="#")
								.h4!= title
								+e.icon-wrap
									+icon('arrow-right')
						li
							+link('Проектирование и&nbsp;расчет устойчивости шпунтовых ограждений')
						li
							+link('Строительно-монтажные работы со&nbsp;шпунтом')
						li
							+link('Аренда шпунта')
						li
							+link('Продажа шпунта')
						li
							+link('Выкуп шпунта')
	// end headerBlock