mixin sObjects(data)
	// start sObjects
	+b.SECTION.sObjects.section#sObjects&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span Виды объектов] на&nbsp;которых <br> мы&nbsp;работаем
				p Работаем на&nbsp;объектах любой сложности, за&nbsp;которые не&nbsp;возьмутся другие
			+e.row.row
				mixin item(i, t)
					.col-6.col-xxl-4
						+e.A.item(href="#" data-src='modal-call' data-fancybox="modal")
							+e.img-wrap
								+img(`img/sObjects-${i}.jpg`, `bg`)
							+e.item-content
								h4!= t
								+e.wrapper
									+e.btn.btn.btn-primary
										+icon('phone-call')
										| Связаться с нами
				+item(1, `Ограждение и укрепление котлованов`)
				+item(6, `Очистные сооружения (ЛОС, КНС)`)
				+item(3, `Укрепление склонов`)
				+item(4, `Укрепление дорог`)
				+item(5, `Укрепление мостов, причалов, пирсов`)
				+item(2, `Укрепление берегов`)
			+e.btn-wrap
				+e.btn.btn.btn-primary(href="#" data-src='modal-call' data-fancybox="modal")
					+icon('phone-call')
					| Связаться с нами
	// end sObjects