// start .sProjects
.sProjects {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.container {
		.container {
			padding: 0;
		}
	}
	.section-title {
		p {
			font-size: 16px;
			margin-bottom: 0;
			margin-top: 20px;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
				margin-top: rem(30);
			}
		}
	}
	&__arrow-wrap {
		display: flex;
		justify-content: space-between;
		.swiper-button-hand {
			// position: static;
		}
	}
	&__col {
	}
	&__item {
	}
	.portfolio-item {
		@include media-breakpoint-up(sm) {
			border-radius: 0px 0px $border-radius-lg $border-radius-lg;
			border: 1px solid $border-color;
			padding: rem(30);
		}
		@include media-breakpoint-up(xxl) {
			padding: rem(60);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProjects
