// start .sProjects
.sProjects {
	// --sPT: 0;
	// --sPB: 0;
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
	}
	& > .container {
		padding: 0;
		.container {
			padding: 0;
		}
	}
	.section-title {
		padding: 0 20px;
		@include media-breakpoint-up(sm) {
			padding: 0;
		}
		p {
			font-size: 16px;
			margin-bottom: 0;
			margin-top: 20px;
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
				margin-top: rem(30);
			}
		}
	}
	// &__sliders {
	// }
	&__couter-slides {
		@include media-breakpoint-up(sm) {
			display: none;
		}
		& > * {
			display: inline;
		}
	}
	&__arrow-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		border: 1px solid $border-color;
		background-color: $light;
		@include media-breakpoint-up(sm) {
			justify-content: center;
			border-radius: $border-radius-lg $border-radius-lg 0px 0px;
		}
		.sProjects__slider-thumbs {
			margin: 0 20px;
			.sProjects__slide {
				cursor: pointer;
				&.swiper-slide-thumb-active,
				&:hover {
					.sProjects__img-wrap {
						border-color: $primary;
					}
				}
			}
			.sProjects__img-wrap {
				@include mt;
				@include block(80, 59);
				border: 2px solid transparent;
				border-radius: 8px;
				overflow: hidden;
				img {
					position: absolute;
					left: 0;
					top: 0;
					margin: -2px;
					width: calc(100% + 4px);
					height: calc(100% + 4px);
				}
			}
		}
		.swiper-button-hand {
			position: static;
			@include media-breakpoint-down(sm) {
				--swiperArrowSize: 40px;
			}
		}
	}
	&__slider {
		border: 1px solid $border-color;
		border-bottom: none;
		border-top: none;
		@include media-breakpoint-up(sm) {
			border-bottom: 1px solid $border-color;
			border-radius: 0px 0px $border-radius-lg $border-radius-lg;
		}
	}
	&__slide {
		height: auto;
	}
	&__slider-thumbs {
		width: 555px;
		max-width: 50%;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	&__col {
	}
	&__item {
	}
	.portfolio-item {
		border-bottom: none;
		padding: 20px 20px 20px 20px;
		@include media-breakpoint-up(sm) {
			padding: rem(30) rem(30) rem(30) rem(30);
		}
		@include media-breakpoint-up(xxl) {
			padding: rem(60) rem(60) rem(60) rem(60);
		}
		&__col {
			& > * {
				@include media-breakpoint-up(xxl) {
					max-width: 570px;
				}
			}
		}
		.row {
			@include media-breakpoint-down(sm) {
				--bs-gutter-y: 20px;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProjects
