// start .sAbout
.sAbout {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		align-items: center;
	}
	.section-title {
		h2 {
			max-width: 1170px;
			margin: 0 auto;
		}
	}

	&__col {
		@include media-breakpoint-up(xxl) {
			padding-left: rem(45);
		}
	}
	&__img-wrap {
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	&__item {
		margin-bottom: 40px;
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(60);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) {
			.row {
				@include media-breakpoint-up(lg) {
					flex-direction: row-reverse;
				}
			}
			.sAbout__col {
				@include media-breakpoint-up(xxl) {
					padding-right: rem(45);
					padding-left: calc(var(--bs-gutter-x) / 2);
				}
			}
		}
		h3 {
			line-height: 1.27;
			margin-bottom: 20px;
			@include media-breakpoint-up(xl) {
				margin-bottom: rem(45);
				line-height: 1.5;
			}
		}
		ul {
			margin-bottom: 0;
			li {
				&:not(:last-child) {
					margin-bottom: 10px;
					@include media-breakpoint-up(xl) {
						margin-bottom: rem(15);
					}
				}
			}
		}
	}
	&__img-wrap {
		@include block(690, 518);
		background-color: $gray-300;
		border-radius: $border-radius-lg;
		overflow: hidden;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAbout
