mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span АВМ инжиниринг]&nbsp;- торгово-производственная шпунтовая компания
			mixin about-item(t, i, ...items)
				+e.item
					+e.row.row
						.col-lg-6
							+e.img-wrap
								.img-wrap-center
									+img(`img/sAbout-${i}.jpg`, 'bg')
						+e.col.col-lg-6
							h3!= t
							ul
								each item in items
									li!= item
			+about-item(`<span> Наша сильная сторона</span> - решение нестандартных задач любой сложности`, 
				1, 
				`Собственное производство в&nbsp;г. Можайск, Московская область позволяет планировать сроки изготовления и&nbsp;поставок`, 
				`Cбственный отдел проектирования`, 
				`Cобственные бригады для Строительно-монтажных работ`, 
				`Непосредственное участие сотрудников на&nbsp;объектах партнеров, что позволяет изучать и&nbsp;использовать самые передовые инженерные технологии`)
			+about-item(`<span> Компания имеет белорусские корни, </span>
				что&nbsp;говорит о&nbsp;неизменном качестве предоставления услуг, умении доводить принятые обязательства до&nbsp;конца`, 
				2, 
				`Постоянное повышение квалификации сотрудников по&nbsp;партнерской программе обмена опытом TECNOTERRA&nbsp;SA (Швейцария)`, 
				`Партнерство с&nbsp;ведущей шпунтовой компанией Евросоюза TECNOTERRA&nbsp;SA (Швейцария) позволяет использовать проектное управление из&nbsp;40&nbsp;высококлассных инженеров`, 
				`Cобственные бригады для Строительно-монтажных работ`, 
				`Возможность использования 2-х больших складов шпунта в&nbsp;России и&nbsp;Швейцарии (общее кол-во шпунта Ларсена более 5000&nbsp;тонн)`)

	// end sAbout