mixin sAbout(t, f = false)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= t
			block
			if f
				+e.footer
					h5 Узнайте сколько&nbsp;Вы сэкономите с&nbsp;помощью применения трубошпунта
					+e.btn.btn.btn-primary(href='#') Узнать подробнее

	// end sAbout