extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sStages/_sStages.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCertificates/_sCertificates.pug

block variables
	- let  mainPage= 'description-page' 
	- let  bg= '09-description.jpg'

block title
	- let  title= 'Трубошпунт'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(5,`Трубошпунт – выгодная альтернатива<br> Шпунту Ларсена`, title )
			+e.btn.btn.btn-primary(href="#"  data-src='modal-call' data-fancybox="modal")
				+icon('phone-call')
				| Связаться с нами
		+sAbout(`При использовании трубошпунта <br> <span>Вы получите:</span>`)
			+about-item(`При использовании трубошпунта <br> <span>Вы получите:</span>`, 3)
				ul
					li Экономию до&nbsp;40% средств в&nbsp;сравнении с&nbsp;использованием Шпунта Ларсена
					li Низкую стоимость и&nbsp;меньший вес квадратного метра ограждающей стенки
					li Сокращение объема и&nbsp;времени работ по&nbsp;погружению шпунта за&nbsp;счет ширины сваи в&nbsp;сравнении со&nbsp;шпунтом Ларсена
					li Вариативность в&nbsp;формировании любой конструкции и&nbsp;выборе любой необходимой длины шпунта
					li Аналогичная герметичность замков в&nbsp;сравнении с&nbsp;шпунтом Ларсена
					li Подходит для любого типа грунта
		+sAbout(`Ваши выгоды при использовании <span> трубошпунта</span> `).pt-0
			+about-item(`<span> Наша сильная сторона</span> - решение нестандартных задач любой сложности`, 4).--reverse
				ul
					li Трубошпунт готов к&nbsp;отправке сегодня (в&nbsp;наличии на&nbsp;складе в&nbsp;регионе)
					li Изготовим любой вид трубошпунта под Ваш проект
					li Аренда без залога (рассматривается индивидуально исходя из&nbsp;специфики объекта)
					li Все виды шпунтовых работ в&nbsp;сжатые сроки: погружение, монтажные работы (свой проектный отдел, бригады и&nbsp;спецтехника)
					li Имеются все необходимые сертификаты и&nbsp;ТУ
		+sCatalog()
			+e.row.row
				- const wrapClass="col-md-6 col-lg-4 col-xl-3"
				//- -for(let i = 0; i < 2; i++)
				+e.col(class= wrapClass)
					+product-item(`1`,`Трубошпунт`) 
						+tr('Ширина профиля', '400 мм')
						+tr('Вес 1&nbsp;м.п. шпунта', '14,8 мм')
						+tr('Вес 1&nbsp;м&sup2; шпунта', '359 мм')
						+tr('Упр. момент сопр.', '9,5 мм')
				+e.col(class= wrapClass)
					+product-item(`2`,`Трубошпунт`) 
						+tr('Ширина профиля', '400 мм')
						+tr('Вес 1&nbsp;м.п. шпунта', '14,8 мм')
						+tr('Вес 1&nbsp;м&sup2; шпунта', '359 мм')
						+tr('Упр. момент сопр.', '9,5 мм')
		+sCalculator('Сравнительный калькулятор <span> стоимости шпунта </span>').pb-0.pt-0
		+sAbout(`<span>СЕО-описание</span> для страницы`)
			+about-item(`<span> Наша сильная сторона</span> - решение нестандартных задач любой сложности`, 5)
				p Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а&nbsp;также реальное распределение букв и&nbsp;пробелов в&nbsp;абзацах, которое не&nbsp;получается при простой дубликации &laquo;Здесь ваш текст..
				p Здесь ваш текст.. Здесь ваш текст..&raquo; Многие программы электронной вёрстки и&nbsp;редакторы HTML используют Lorem Ipsum в&nbsp;качестве текста по&nbsp;умолчанию, так что поиск по&nbsp;ключевым словам &laquo;lorem ipsum&raquo; сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За&nbsp;прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по&nbsp;ошибке, некоторые&nbsp;&mdash;
		+sCertificates()
		+sForm(`Получите коммерческое предложение <span> в&nbsp;1&nbsp;клик </span>`, `Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, чтобы выслать коммерческое предложение и&nbsp;ответить на&nbsp;Ваши вопросы`)
	+footer()
      



