extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sStages/_sStages.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

include ../blocks/sAdvantages/_sAdvantages.pug

block variables
	- let  mainPage= 'buyout-page' 
	- let  bg= '08-buyout.jpg'

block title
	- let  title= 'Выкуп'
	title= title
block pagecontent
	//- +mob-mnu()


	+header()
		+top-nav()
		+topLine
	main
		+page-head(3,`Выкупим Ваш шпунт Ларсена <br> по&nbsp;максимальной рыночной цене`, title )
			+e.subtitle Выкупаем в&nbsp;том числе неликвидный шпунт
		+sStages(`Процесс <span>выкупа шпунта</span>`)
			+sStages-item(1, `Оставляете заявку или звоните нам по&nbsp;телефону:`)
				a(href="tel:84958856053") 8 (495) 885-60-53
			+sStages-item(6, `Для предварительной оценки отправьте фото или видео Вашего шпунта нам на&nbsp;почту <a href="mailto:info@avmsteel.ru" class="primary-link"> info@avmsteel.ru</a>, <a href="mailto:info@avmsteel.ru" class="primary-link"> WhatsApp</a> или продиктуйте данные специалисту`)
			+sStages-item(3, `К&nbsp;Вам выезжает специалист, который назовет точную максимальную рыночную стоимость за&nbsp;шпунт`)
			+sStages-item(4, `Мы&nbsp;извлечём и&nbsp;выкупим шпунт, если он&nbsp;находится в&nbsp;земле. Проведем работы по&nbsp;извлечению взаимозачетом за&nbsp;шпунт`)
			+sStages-item(7, `Вы&nbsp;получаете оплату в&nbsp;тот&nbsp;же&nbsp;день. Работаем с&nbsp;юридическими и&nbsp;физическими лицами`)
		+sAdvantages2
		+sForm(`Узнайте стоимость выкупа <span> Вашего шпунта в&nbsp;1&nbsp;клик </span>`, `Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, чтобы предложить Вам выгодную цену за&nbsp;Ваш шпунт и&nbsp;ответить на&nbsp;Ваши вопросы`).sForm--byout
	+footer()




