extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'portfolio-page' 
	- let  bg= '04-portfolio.jpg'

block title
	- let  title= 'Наши работы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(8, title, title)
		+sPortfolio()
	+footer()
      



