extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

include ../blocks/sGlossary/_sGlossary.pug

block variables
	- let  mainPage= 'glossary-page' 
	- let  bg= '05-glossary.jpg'

block title
	- let  title= 'Глоссарий'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(4, title, title)
		+sGlossary
		+sForm()
	+footer()
      



