extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sCertificates/_sCertificates.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

include ../blocks/sProjects/_sProjects.pug

block variables
	- let  mainPage= 'company-page' 
	- let  bg= '07-company.jpg'

block title
	- let  title= 'О компании'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(1, title, title)
		+sAbout()
		+sTeam()
		+sProjects()
		+sCertificates()
		+sForm(`Получите коммерческое предложение <span> в&nbsp;1&nbsp;клик </span>`, `Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, чтобы выслать коммерческое предложение и&nbsp;ответить на&nbsp;Ваши вопросы`)
	+footer()
      



