extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sCertificates/_sCertificates.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

include ../blocks/sProjects/_sProjects.pug

block variables
	- let  mainPage= 'company-page' 
	- let  bg= '07-company.jpg'

block title
	- let  title= 'О компании'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(1, title, title)
		+sAbout(`<span> АВМ инжиниринг</span>&nbsp;- торгово-производственная шпунтовая компания`)
			+about-item(`<span> Наша сильная сторона</span> - решение нестандартных задач любой сложности`, 1).--reverse
				ul
					li Собственное производство в&nbsp;г. Можайск, Московская область позволяет планировать сроки изготовления и&nbsp;поставок
					li Cбственный отдел проектирования
					li Собственные строительно-монтажные бригады для строительно-монтажных работ
					li Непосредственное участие сотрудников на&nbsp;объектах партнеров, что позволяет изучать и&nbsp;использовать самые передовые инженерные технологии

			+about-item(`<span> Компания имеет белорусские корни, </span>
				что говорит о&nbsp;неизменном качестве предоставления услуг, умении доводить принятые обязательства до&nbsp;конца`, 2)
				ul
					li Постоянное повышение квалификации сотрудников по&nbsp;партнерской программе обмена опытом с&nbsp;TECNOTERRA&nbsp;SA (Швейцария)
					li Партнерство с&nbsp;ведущей шпунтовой компанией Евросоюза TECNOTERRA&nbsp;SA (Швейцария) позволяет использовать проектное управление из&nbsp;40&nbsp;высококлассных инженеров
					li Cобственные бригады для Строительно-монтажных работ
					li Возможность использования 2-х больших складов шпунта в&nbsp;России и&nbsp;Швейцарии (общее кол-во шпунта Ларсена более 5000&nbsp;тонн)
		+sTeam()
		+sProjects()
		+sCertificates()
		+sForm(`Получите коммерческое предложение <span> в&nbsp;1&nbsp;клик </span>`, `Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, чтобы выслать коммерческое предложение и&nbsp;ответить на&nbsp;Ваши вопросы`)
	+footer()
      



