extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sStages/_sStages.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sCertificates/_sCertificates.pug

block variables
	- let  mainPage= 'description-page' 
	- let  bg= '08-buyout.jpg'

block title
	- let  title= 'Трубошпунт'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(5,`Трубошпунт – выгодная альтернатива<br>Шпунту Ларсена`, title )
			+e.btn.btn.btn-primary(href="#") Связаться с нами
		+sAdvantages3
		+sCertificates(false)
		+sForm()
	+footer()
      



