extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sPortfolio/_sPortfolio.pug
include ../blocks/footer/_footer.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'portfolio-page' 
	- let  bg= '04-portfolio.jpg'

block title
	- let  title= 'Наши работы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+page-head(8, title, title)
		+sPortfolio()
		+sForm(`Получите коммерческое предложение <span> в&nbsp;1&nbsp;клик </span>`, `Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, чтобы выслать коммерческое предложение и&nbsp;ответить на&nbsp;Ваши вопросы`)
	+footer()
      



