extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sPage404/_sPage404.pug
//- include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg= '11-page-404.jpg'

block title
	- let  title= 'Cтраница 404'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+sPage404()
	+footer()
      



