extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sStages/_sStages.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/sObjects/_sObjects.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/footer/_footer.pug

include ../blocks/sMap/_sMap.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sContactInfo/_sContactInfo.pug
include ../blocks/sCertificates/_sCertificates.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		+topLine
	main
		+headerBlock 
		+sServices()
		+sCatalog
		+sCalculator('Сравнительный калькулятор <span> стоимости шпунта </span>')
		+sAbout(`<span>Трубошпунт</span>&nbsp;&mdash; выгодная<br>альтернатива шпунту Ларсена`, true).bg-light
			+about-item(`При использовании трубошпунта<br><span>Вы получите:</span>`, 5)
				ul
					li Экономию до&nbsp;40% средств в&nbsp;сравнении с&nbsp;использованием шпунта Ларсена
					li Низкую стоимость и&nbsp;меньший вес квадратного метра ограждающей стенки
					li Сокращение объема и&nbsp;времени работ по&nbsp;погружению шпунта за&nbsp;счет ширины сваи в&nbsp;сравнении со&nbsp;шпунтом Ларсена
					li Вариативность в&nbsp;формировании любой конструкции и&nbsp;выборе любой необходимой длины шпунта
					li Более высокие показатели несущей способности, металлоёмкости и&nbsp;безопасности относительно шпунта Ларсена
					li Аналогичная герметичность замков в&nbsp;сравнении со&nbsp;шпунтом Ларсена
					li Подходит для любого типа грунта
		+sObjects()
		+sStages(`Этапы <span>работы</span>`)
			+sStages-item(1, `Оставляете заявку или звоните нам по&nbsp;телефону:`)
				a(href="tel:84958856053") 8 (495) 885-60-53
			+sStages-item(2, `Подготавливаем предварительное коммерческое предложение в&nbsp;течение 2-х часов для понимания бюджета и&nbsp;сроков выполнения работ`)
			+sStages-item(3, `Выезжаем на&nbsp;объект, подготавливаем окончательное коммерческое предложение. Фиксируем стоимость на&nbsp;весь период проведения работ`)
			+sStages-item(4, `Поставка шпунта, мобилизация техники, проведение строительно-монтажных работ`)
			+sStages-item(5, `Сдача объекта`)
		+sProjects()
		+sMap()
		+sTeam()
		+sCertificates().bg-light
		+sForm(`Получите коммерческое предложение <span> в&nbsp;1&nbsp;клик </span>`, `Оставьте заявку, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, чтобы выслать коммерческое предложение и&nbsp;ответить на&nbsp;Ваши вопросы`)
		+sContactInfo
		//- +sContact()
		
	+footer()



