mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.wrapper
				+e.block
					p.text-lg ЕВРАЗ НТМК изготовил 5&nbsp;000 тонн шпунта Ларсена для первого в&nbsp;РФ комплексного проекта по&nbsp;рекультивации иловых полей очистных сооружений в&nbsp;Казани. Площадь полей в&nbsp;водоохранной зоне Куйбышевского водохранилища составляет около 100&nbsp;га.
				+e.block
					h1 Заголовок H1
					p (Обычный текст) Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
				+e.block
					+img(`img/sContent-1.jpg`)
				+e.block
					h2 Заголовок H2
					p Текст для одной строки (например пункт меню)
				+e.block
					h3 Заголовок H3
					p.text-lg (Крупный текст) АВМ инжиниринг&nbsp;&mdash; узкоспециализированная команда в&nbsp;сфере устройства шпунтовых ограждений
				+e.block
					h4 Заголовок H4
					ul
						li Договор аренды без перехода права собственности
						li Унифицированная форма МХ-1
						li Залоговая стоимость металла не&nbsp;облагается НДС
						li Вы&nbsp;не&nbsp;несете ответственность за&nbsp;состояние шпунта при его возврате
				+e.block
					h5 Заголовок H5
					ol
						li Договор аренды без перехода права собственности
						li Унифицированная форма МХ-1
						li Залоговая стоимость металла не&nbsp;облагается НДС
						li Вы&nbsp;не&nbsp;несете ответственность за состояние шпунта при его возврате
				+e.block
					h6 Заголовок H6
					small.text-secondary (Мелкий текст) Юридический, фактический и почтовый адрес: 107150, Россия, г. Москва, Улица Пермская, дом 11, строение 5, этаж 6, помещение 601В
				+e.block
					i.strong.text-lg Юридический, фактический и почтовый адрес: 107150, Россия, г. Москва, Улица Пермская, дом 11, строение 5, этаж 6, помещение 601В
				+e.btn.btn.btn-primary(href="#") Узнать цену
	// end sContent