mixin product-item(i, t)
	+b.product-item
		+e.img-wrap(href="#")
			+e.label--yellow Б/У
			+e.label--blue Новый
			+e.label--black 7,4 кг/м
			//- .img-wrap-center 
			+img(`img/prod-${i}.jpg`, 'bg')
		+e.caption
			+e.title.h5(href="#")!= t
			mixin tr(key, val)
				tr
					td!= key
					td!= val
			table
				block
			+e.btn.btn.btn-primary(href='#') Узнать цену
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Каталог 
					span шпунта
				p АВМ инжиниринг&nbsp;&mdash; узкоспециализированная команда в&nbsp;сфере устройства шпунтовых ограждений

			+e.row.row
				- const wrapClass="col-md-6 col-lg-4 col-xl-3"
				-for(let i = 0; i < 2; i++)
					+e.col(class= wrapClass)
						+product-item(`1`,`Трубошпунт`,``,``) 
							+tr('B', '400 мм')
							+tr('S', '14,8 мм')
							+tr('H', '359 мм')
							+tr('Т', '9,5 мм')
					+e.col(class= wrapClass)
						+product-item(`2`,`Шпунт Ларсена Л4`,``,``) 
							+tr('B', '400 мм')
							+tr('S', '14,8 мм')
							+tr('H', '359 мм')
							+tr('Т', '9,5 мм')
					+e.col(class= wrapClass)
						+product-item(`3`,`Шпунт Ларсена Л5`,``,``) 
							+tr('B', '400 мм')
							+tr('S', '14,8 мм')
							+tr('H', '359 мм')
							+tr('Т', '9,5 мм')
					+e.col(class= wrapClass)
						+product-item(`4`,`Шпунт Ларсена Л5-УМ`,``,``)
							+tr('B', '400 мм')
							+tr('S', '14,8 мм')
							+tr('H', '359 мм')
							+tr('Т', '9,5 мм')
			+e.btn.btn.btn-outline-primary(href='#') Смотреть весь каталог
 
	// end sCatalog