mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Проектирование и строительно-монтажные работы
				
			.row
	// end topLine