// start .sProduct
.sProduct {
	// --sPT: #{rem(0)};
	// --sPB: 0;
	// --sTPB: #{rem()};
	padding-top: calc(var(--sPT) / 2);
	& * {
		--bs-gutter-y: 20px;
		@include media-breakpoint-up(md) {
			--bs-gutter-y: #{rem(30)};
		}
		@include media-breakpoint-only(lg) {
			--bs-gutter-y: #{rem(17)};
		}
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(lg) {
		// }
		// @include media-breakpoint-up(lg) {
		// 	height: 100%;
		// }
	}
	.section-title {
		margin-bottom: var(--bs-gutter-y);
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		.h2 {
			@include media-breakpoint-only(lg) {
				font-size: rem(50);
			}
			margin-bottom: 0;
		}
	}
	&__type {
		& > span {
			display: block;
			margin-bottom: 15px;
			line-height: 20px;
			@include media-breakpoint-only(lg) {
				margin-bottom: 7px;
			}
		}
		.custom-input {
			display: inline-block;
			margin-right: 20px;
			@include media-breakpoint-only(lg) {
				display: block;
				margin-top: 10px;
			}
			@include media-breakpoint-up(xl) {
				margin-right: rem(30);
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__price {
		span {
			display: block;
			line-height: 20px;
			margin-bottom: 5px;
			// @include media-breakpoint-up(xl) {
			// 	margin-bottom: rem(10);
			// }
		}
		strong {
			font-size: $h3-font-size;
		}
	}

	&__btn {
		width: 100%;
	}
	table {
		width: 100%;
		tr {
			border-bottom: 1px dashed $gray-300;
			&:first-child {
				td {
					padding-top: 0;
				}
			}
			&:last-child {
				border: none;
				td {
					padding-bottom: 0;
				}
			}
		}
		td {
			padding: 9px calc(var(--bs-gutter-x) * 0.5);
			line-height: 20px;
			@include media-breakpoint-only(lg) {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			@include media-breakpoint-up(sm) {
				width: 50%;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				text-align: right;
				padding-right: 0;
				@include media-breakpoint-up(md) {
					text-align: left;
				}
			}
		}
	}

	&__slider {
		margin-bottom: 3px;
		@media (min-width: 500px) {
			margin-bottom: 8px;
		}
		--swiperArrowPosition: calc(var(--swiperArrowSize) - (var(--swiperArrowSize) * 0.57));
		@include media-breakpoint-only(lg) {
			--swiperArrowSize: #{rem(50)};
		}
		@include media-breakpoint-only(xl) {
			--swiperArrowSize: #{rem(60)};
		}
		&-thumbs {
			.swiper-slide {
				@include mt;
				cursor: pointer;
				border: 2px solid transparent;
				&-thumb-active {
					border-color: $primary;
				}
			}
		}
	}
	&__col {
		@include media-breakpoint-up(xxl) {
			padding-left: rem(75);
		}
	}
	&__img-wrap {
		@include block(690, 485);
		background-color: $gray-300;
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.swiper-button-hand {
		.icon {
			@include media-breakpoint-only(lg) {
				font-size: 15px;
			}
			@include media-breakpoint-only(xl) {
				font-size: 18px;
			}
		}
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProduct
