.menu{
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		@include roww(13px);
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 14px;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 200vw;
			height: 1px;
			left: -50vw;
			bottom: 0;
			background-color: #E4E4E4;
		}
	}
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: 20px;
		font-size: 16px;
	}
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	padding-left: 0;
	ul {
		padding-left: 0;
		list-style-type: none;
	}
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		padding: rem(18) calc(var(--bs-gutter-x) / 2);
	}
	&-item {
		position: relative;
		@include media-breakpoint-up(lg) {
			&:last-child {
				&.menu-item-has-children {
					& > .sub-menu {
						right: 0;
						left: unset;
						transform: none;
					}
				}
			}
			&:first-child {
				&.menu-item-has-children {
					& > .sub-menu {
						left: 0;
						transform: none;
					}
				}
			}
		}
		&-has-children {
			& > a {
				position: relative;
				padding-right: rem(25);
				@include media-breakpoint-down(lg) {
					padding: 10px 24px 10px 10px !important;
					border-bottom: 1px solid transparent;
				}
				&:after {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: rem(20);
					height: rem(20);
					background-image: url('../img/svg/arrow-down.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					margin-top: 1px;
					@include media-breakpoint-down(lg) {
						right: 5px;
					}
				}
			}
			& > .sub-menu {
				z-index: 10;
				background-color: #fff;
				text-align: left;
				@include media-breakpoint-down(lg) {
					display: none;
					padding: 10px;
					border-bottom: 1px solid transparent;
					a {
						font-size: 13px;
					}
				}
				@include media-breakpoint-up(lg) {
					@include mt;
					position: absolute;
					box-shadow: 0px 5px 30px rgba(31, 31, 33, 0.15);
					top: 100%;
					left: 50%;
					min-width: max-content;
					padding: rem(45);
					transform: translateX(-50%);
					border-radius: 12px;
					opacity: 0;
					pointer-events: none;
				}
				& > li {
					&:not(:last-child) {
						margin-bottom: rem(15);
						@include media-breakpoint-up(lg) {
							margin-bottom: rem(20);
						}
					}
					& > a {
						margin-bottom: rem(10);
						font-weight: 700;
						@include media-breakpoint-up(lg) {
							margin-bottom: rem(15);
						}
					}
					& > .sub-menu {
						li {
							&:not(:last-child) {
								margin-bottom: rem(10);
								@include media-breakpoint-up(lg) {
									margin-bottom: rem(15);
								}
							}
						}
					}
				}
			}
			&.shown {
				& > .sub-menu {
					@include media-breakpoint-down(lg) {
						border-bottom-color: $gray-200;
					}
					@include media-breakpoint-up(lg) {
						opacity: 1;
						pointer-events: all;
					}
				}
				& > a {
					@include media-breakpoint-down(lg) {
						border-bottom-color: $gray-200;
					}
					&:after {
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
		}
		&.active {
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background-color: $primary;
				left: 0;
				bottom: 0;
				z-index: 2;
			}
		}
	}
	.sub-menu {
		li {

		}
		a {
			font-size: rem(16);
			padding: 0;
		}
	}
}



.toggle-menu-mobile {
	--h: 2px;
	--color: #{$gray-900};
	--position: calc(var(--h) * 3);
	&.on span {
		--color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 10);
	position: relative; 
	font-size: 20px;
	width: 20px;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
@include media-breakpoint-down(lg) {

	

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		max-width: 85%;
		// height: calc(var(--vh, 1vh) * 100);
		// height: 100vh;
		width: 280px;
		top: 0;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translate3d(120%, 0,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			// margin-left: -15%;
			position: absolute; 
			right: 9px;
			// right: auto;
			color: $gray-900;
			top: 9px;
			z-index: 9999; 
			span:after,
			span:before {
				--color: #{$gray-900};
			}
		}
		&__inner {
			padding: calc(env(safe-area-inset-top, 0px) + #{rem(40)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(40)});
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100vh;
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px;
				display: block;

			}
		}
	}
}