mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.menu-mobile.menu-mobile--js
				.menu-mobile__inner
					+e.btn-calc(href="#")
						+icon('calc')
						| Калькулятор
					//- +menu-toggle()
					+mnu()
					+e.contacts
						+e.A.tel(href="tel:+84958856053") 8 (495) 885-60-53
						+e.A.tel(href="tel:+84958855011") 8 (495) 885-50-11
						+e.A.email(href="mailto:info@avmsteel.ru") info@avmsteel.ru
						+soc()
				//- .col-auto.d-lg-none
				//- 	+menu-toggle()
	// end top-nav