mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+e.row.row
				.col-lg
					mixin dropDownContent()
						+e.wrap
							p Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться.
							p Lorem Ipsum используют потому, что тот обеспечивает более или менее #[span стандартное заполнение шаблона], а&nbsp;также реальное распределение букв и&nbsp;пробелов в&nbsp;абзацах, которое не&nbsp;получается при простой дубликации &laquo;Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..&raquo;
						ul
							li Договор аренды без перехода права собственности
							li Унифицированная форма МХ-1
							li Залоговая стоимость металла не&nbsp;облагается НДС
							li Вы&nbsp;не&nbsp;несете ответственность за&nbsp;состояние шпунта при его возврате
					+ddGroup
						+ddGroupItem('Как происходит процесс монтажа шпунта Ларсена?')
							+dropDownContent()
						+ddGroupItem('Чем отличается трубошпунт от шпунта Ларсена?')
							+dropDownContent()
						+ddGroupItem('На какой спецтехнике вы осуществляете работы?')
							+dropDownContent()
						+ddGroupItem('На какой спецтехнике вы осуществляете работы?')
							+dropDownContent()
				.col-lg-auto
					+needHelp()
	// end sFaq