.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid $border-color;
		@include media-breakpoint-up(md) {
			width: rem(50);
			height: rem(50);
		}
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			background-color: var(--color, #000);
			border-color: var(--color, #000);
			.icon {
				color: $white;
			}
		}
		// &--telegram {
		// 	&:hover {
		// 		background-color: #2fa6d9;
		// 		border-color: #2fa6d9;
		// 	}
		// }
		// &--whatsapp {
		// 	&:hover {
		// 		background-color: #00c958;
		// 		border-color: #00c958;
		// 	}
		// }
		// &--viber {
		// 	&:hover {
		// 		background-color: #8852c1;
		// 		border-color: #8852c1;
		// 	}
		// }
	}
	.icon {
		@include mt;
		font-size: 16px;
		@include media-breakpoint-up(md) {
			font-size: rem(18);
		}
		&-telegram {
			color: #2fa6d9;
		}
		&-whatsapp {
			color: #00c958;
		}
		&-viber {
			color: #8852c1;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.dowload-link {
	@include roww(10px, m);
	display: inline-flex;
	align-items: center;

	.icon {
		color: $primary;
		&-download {
			font-size: rem(20);
		}
		&-PDF {
			font-size: rem(8);
		}
	}
}

.need-help {
	background-color: #F5F5F8;
	padding: rem(40) rem(20);
	border-radius: 15px;
	width: calc(100% + rem(40));
	margin-left: rem(-20);
	@include media-breakpoint-up(sm) {
		border-radius: 15px;
		// margin-bottom: rem(20);
		width: 100%;
		margin-left: 0;
	}
	@include media-breakpoint-up(md) {
		padding: rem(45);
	}
	@include media-breakpoint-up(lg) {
		max-width: rem(360);
	}
	// @include media-breakpoint-up(xl) {
	// }
	img {
		width: 100%;
		max-width: rem(40);
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			max-width: rem(60);
			margin-bottom: rem(30);
		}
	}
	h4 {
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(37);
		}
	}
	p {
		margin-bottom: rem(20);
		line-height: 1.56em;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(23);
		}
		&:last-of-type {
			margin-bottom: rem(20);
			@include media-breakpoint-up(md)  {
				margin-bottom: rem(28.400);
			}
		}
	}
	&__tel {
		display: block;
		font-weight: 700;
		margin-bottom: rem(10);
		font-size: 18px;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(15);
			font-size: rem(24);
		}
		&:not(:hover) {
			color: $gray-900;
		}
	}
	&__mail {
		display: block;
		font-weight: 700;
		color: $teal;
		margin-bottom: rem(20);
		font-size: 16px;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
			font-size: rem(20);
		}
	}
}