.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid $border-color;
		@include media-breakpoint-up(md) {
			width: rem(50);
			height: rem(50);
		}
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			background-color: var(--color, #000);
			border-color: var(--color, #000);
			.icon {
				color: $white;
			}
		}
		// &--telegram {
		// 	&:hover {
		// 		background-color: #2fa6d9;
		// 		border-color: #2fa6d9;
		// 	}
		// }
		// &--whatsapp {
		// 	&:hover {
		// 		background-color: #00c958;
		// 		border-color: #00c958;
		// 	}
		// }
		// &--viber {
		// 	&:hover {
		// 		background-color: #8852c1;
		// 		border-color: #8852c1;
		// 	}
		// }
	}
	.icon {
		@include mt;
		font-size: 16px;
		@include media-breakpoint-up(md) {
			font-size: rem(18);
		}
		&-telegram {
			color: #2fa6d9;
		}
		&-whatsapp {
			color: #00c958;
		}
		&-viber {
			color: #8852c1;
		}
	}
}

.soc--content {
	@include media-breakpoint-down(md) {
		--bs-gutter-x: 5px;
	}
	.soc__item {
		width: 40px;
		height: 40px;
		border-radius: 10px;
		border-width: 2px;
		&:hover {
			background-color: $white;
		}
		&--vk {
			background-color: #4680c2;
			border-color: #4680c2;
			&:hover {
				background-color: $white;
				.icon {
					color: #4680c2;
				}
			}
		}
		&--whatsapp {
			background-color: #49cb5b;
			border-color: #49cb5b;
			&:hover {
				.icon {
					color: #49cb5b;
				}
			}
		}
		&--telegram {
			background-color: #37aee2;
			border-color: #37aee2;
			&:hover {
				.icon {
					color: #37aee2;
				}
			}
		}
		&--copy {
			background-color: #ff7a00;
			border-color: #ff7a00;
			&:hover {
				.icon {
					color: #ff7a00;
				}
			}
		}
		&--share {
			background-color: #f8f8f8;
			border-color: #f8f8f8;
			&:hover {
				// background-color: $secondary;
				border-color: $body-color;
				.icon {
					// color: $white;
				}
			}
		}
		.icon {
			font-size: 24px;
			color: $white;
			&-telegram-cont {
				font-size: 20px;
			}
			&-share-cont {
				color: $body-color;
			}
		}
		&:hover {
			// .icon {
			// 	&-vk-cont {

			// 	}
			// 	&-whatsapp-cont {

			// 	}
			// 	&-telegram-cont {

			// 	}
			// 	&-copy-cont {

			// 	}
			// 	&-share-cont {

			// 	}
			// }
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.dowload-link {
	@include roww(10px, m);
	display: inline-flex;
	align-items: center;

	.icon {
		color: $primary;
		&-download {
			font-size: rem(20);
		}
		&-PDF {
			font-size: rem(8);
		}
	}
}

.need-help {
	background-color: #f5f5f8;
	padding: rem(40) rem(20);
	border-radius: 15px;
	width: calc(100% + rem(40));
	margin-left: rem(-20);
	// top: 180px;
	@include media-breakpoint-up(sm) {
		border-radius: 15px;
		// margin-bottom: rem(20);
		width: 100%;
		margin-left: 0;
	}
	@include media-breakpoint-up(md) {
		padding: rem(45);
	}
	@include media-breakpoint-up(lg) {
		max-width: rem(360);
	}
	// @include media-breakpoint-up(xl) {
	// }
	img {
		width: 100%;
		max-width: rem(40);
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			max-width: rem(60);
			margin-bottom: rem(30);
		}
	}
	h4 {
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(37);
		}
	}
	p {
		margin-bottom: rem(20);
		line-height: 1.56em;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(23);
		}
		&:last-of-type {
			margin-bottom: rem(20);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(28.4);
			}
		}
	}
	&__tel {
		display: block;
		font-weight: 700;
		margin-bottom: rem(10);
		font-size: 18px;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(15);
			font-size: rem(24);
		}
		&:not(:hover) {
			color: $gray-900;
		}
	}
	&__mail {
		display: block;
		font-weight: 700;
		color: $teal;
		margin-bottom: rem(20);
		font-size: 16px;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
			font-size: rem(20);
		}
	}
}

.cookies {
	@include mt;
	padding: rem(30) rem(50) rem(30) rem(30);
	position: fixed;
	left: 50%;
	bottom: rem(30);
	transform: translateX(-50%);
	background-color: #fff;
	box-shadow: 0px 5px 30px rgba(31, 31, 33, 0.15);
	border-radius: 12px;
	z-index: 1000;
	opacity: 1;
	pointer-events: all;
	width: calc(100% - 20px);
	@include media-breakpoint-up(sm) {
		left: rem(45);
		bottom: rem(40);
		transform: none;
		width: auto;
	}
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
	p {
		font-size: rem(16);
		margin-bottom: 0;
	}
	&__btn {
		@include mt;
		cursor: pointer;
		position: absolute;
		right: rem(17.2);
		top: 50%;
		transform: translateY(-50%);
		width: rem(20);
		height: rem(20);
		&:before,
		&:after {
			content: "";
			@include a-cent();
			position: absolute;
			display: block;
			width: 13px;
			height: 2px;
			border-radius: 4px;
			background-color: #abacb7;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
		&:hover {
			opacity: 0.5;
		}
	}
}

.portfolio-item {
	--swiperArrowPosition: calc(var(--swiperArrowSize) - (var(--swiperArrowSize) * 0.57));
	padding: 40px 0;
	border-bottom: 1px solid $gray-300;
	@include media-breakpoint-up(md) {
		padding: 90px 0;
	}
	
	@include media-breakpoint-only(lg) {
		--swiperArrowSize: #{rem(50)};
	}
	@include media-breakpoint-only(xl) {
		--swiperArrowSize: #{rem(60)};
	}
	.row {
		--bs-gutter-y: 30px;
		// @include media-breakpoint-up(xxl) {
		// 	--bs-gutter-x: 60px;
		// }
	}
	&__col {
		@include media-breakpoint-up(xxl) {
			padding-left: rem(45);
		}
	}
	&__slider {
		position: relative;
	}
	&__location {
		position: absolute;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		left: calc(var(--swiperArrowSize) * 0.29);
		top: calc(var(--swiperArrowSize) * 0.29);
		@include media-breakpoint-up(md) {
			left: calc(var(--swiperArrowSize) * 0.43);
			top: calc(var(--swiperArrowSize) * 0.43);
		}
		line-height: 1.25;
		padding: rem(15) rem(20) rem(15) rem(24);
		background-color: rgba(20, 20, 21, 0.5);
		backdrop-filter: blur(7.5px);
		border-radius: 10px;
		color: $white;
		z-index: 2;
		.icon {
			font-size: rem(16);
			margin-right: rem(10);
			color: $primary;
		}
	}
	h3 {
		margin-bottom: rem(20);
		@include media-breakpoint-up(xxl) {
			line-height: 1.5;
		}
	}
	h5 {
		color: $secondary;
		margin-bottom: rem(20);
	}
	h6 {
		margin-bottom: rem(20);
	}
	&__img-wrap {
		@include block(690, 520);
		background-color: $gray-300;
	}
	ul {
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		li {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
	&__caption {
		--i-width: 50px;
		@include roww(15px, m);
		display: flex;
		align-items: center;
		margin-top: rem(20);
		@include media-breakpoint-up(lg) {
			margin-top: rem(30);
		}
		.icon-wrap {
			position: relative;
			// min-width: var(--i-width);
			width: var(--i-width);
			height: var(--i-width);
			background-color: $gray-100;
			border-radius: 50%;
			flex: 0 0 50px;
		}
		.icon {
			@include a-cent;
			font-size: 24px;
			color: $primary;
		}
		span {
			display: inline-block;
			line-height: 1.56;
		}
	}
	.swiper-pagination {
		bottom: 20px;
		@include media-breakpoint-up(md) {
			bottom: rem(30);
		}
	}
	.swiper-button-hand {
		.icon {
			@include media-breakpoint-only(lg) {
				font-size: 15px;
			}
			@include media-breakpoint-only(xl) {
				font-size: 18px;
			}
		}
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.page-head {
	color: $white;
	background-color: $light;
	.swiper {
		overflow: visible;
	}
	& > .container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.breadcrumb {
		&-item {
			a {
				&:not(:hover) {
					color: $body-color;
				}
			}
			&.active {
				a {
					color: var(--bs-breadcrumb-item-active-color);
				}
			}
		}
	}
	&.bg-wrap {
		background-color: $body-color;
		.breadcrumb {
			&-item {
				a {
					&:not(:hover) {
						color: $white;
					}
				}
				&.active {
					a {
						opacity: 0.5;
					}
				}
			}
		}
	}
	img {
		position: absolute;
		opacity: 0.5;
		// object-position: center;
		left: 0;
		top: 0;
		z-index: -1;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		text-align: center;
		padding: 60px 0;
		min-height: 350px;
		@include media-breakpoint-up(sm) {
			min-height: rem(415);
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			top: 0;
			background-color: $white;
			opacity: 0.3;
		}
	}
	h1 {
		br {
			display: none;
			@include media-breakpoint-up(xl) {
				display: block;
			}
		}
	}

	.page-head__subtitle {
		font-size: rem(20);
		margin-top: rem(30);
	}
}

.sNews-item {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $body-color;
	border-radius: $border-radius-lg;
	color: $white;
	height: 100%;
	overflow: hidden;
	padding: 20px;
	min-height: 260px;
	@include media-breakpoint-up(sm) {
		padding: rem(45);
		min-height: rem(340);
	}
	// @include media-breakpoint-up(xl) {
	// 	min-height: rem(480);
	// }
	@include media-breakpoint-up(xxl) {
		min-height: rem(380);
	}
	&::before {
		@include mt(0.5s);
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		opacity: 0;
		backdrop-filter: blur(12.5px);
	}
	&::after {
		@include mt(0.5s);
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgb(124, 126, 139);
		opacity: 0;
	}
	&:hover {
		color: $white;
		@include media-breakpoint-up(lg) {
			&::before {
				opacity: 1;
			}
			&::after {
				opacity: 0.8;
			}
			.sNews-item__btn {
				transform: translateY(0);
			}
			img {
				transform: scale(1.1);
			}
		}
	}
	h4 {
		margin-bottom: 20px;
		line-height: calc(35 / 24);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(30);
		}
	}
	ul {
		margin-bottom: 20px;
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(30);
		}
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
				@include media-breakpoint-up(sm) {
					margin-bottom: rem(15);
				}
			}
		}
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: auto;
	}
	&__label {
		font-weight: bold;
		margin-bottom: 20px;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
	}
	&__img-wrap {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			@include mt;
			opacity: 0.6;
		}
	}
	&__btn {
		@include mt(0.3s);
		@extend .swiper-button-hand;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		align-self: flex-end;
		margin-top: auto;
		margin-bottom: 0;
		pointer-events: none;
		z-index: 3;
		@include media-breakpoint-up(lg) {
			transform: translateY(140px);
		}
		@include media-breakpoint-down(sm) {
			--swiperArrowSize: 60px;
		}
	}

	&__content,
	&__date {
		// position: relative;
		// display: flex;
		// flex-direction: column;
		z-index: 3;
	}
}
