include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin arrow-rounded()
	.swiper-button-hand.swiper-button-hand--rounded.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand--rounded.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		+breadcrumb('Главная',...items)
		.container
			h1!= t

mixin dowload-link(t)
	+b.A.dowload-link(href='#' download='')
		+icon('download')
		span= t
		+icon('PDF')

mixin needHelp()
	+b.need-help
		+img('img/svg/question.svg')
		h4 Нужна помощь?
		p Не&nbsp;можете найти необходимую информацию?
		p Вы&nbsp;всегда можете обратиться к&nbsp;нам по&nbsp;контактам указанным ниже. Мы&nbsp;будем рады помочь!
		+e.tel(href="tel:84958856053") 8 (495) 885-60-53
		+e.tel(href="tel:84958855011") 8 (495) 885-50-11
		+e.mail(href="mailto:info@avmsteel.ru") info@avmsteel.ru
		+soc()