mixin sThanx(data)
	// start sThanx
	+b.SECTION.sThanx.section#sThanx&attributes(attributes)
		.container
			h6 Ваше обращение доставлено!
			+b.section-title.text-center
				h1 Спасибо за обращение!
				p Мы свяжемся с Вами в ближайшее время для уточнения деталей
			+e.btn.btn.btn-primary(href='/') Перейти на главную
	// end sThanx