mixin sContactInfo(data)
	// start sContactInfo
	+b.SECTION.sContactInfo.section#sContactInfo&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Контактная 
					span информация
				p Направьте свой запрос, наши специалисты перезвонят в&nbsp;ближайшее время
			+e.row.row
				mixin person(name, tel, href, text)
					.col-sm-6.col-lg-4.col-xl-3
						+e.item
							//- +e.name!=name
							a.h4(href=`${href}`)!= tel
							p!= text
				+person('Дмитрий', '8 (495) 885-60-53', 'tel:84958856053', 'Расчет строительно-монтажных работ')
				+person('Алексей', '8 (495) 885-60-53', 'tel:84958856053', 'Продажа и аренда шпунта, работа под ключ')
				+person('Николай', '8 (495) 885-60-53', 'tel:84958856053', 'Выкуп шпунта по максимальной рыночной цене')
				+person('Электронный адрес', 'info@avmsteel.ru', 'mailto:info@avmsteel.ru', 'Пишите в любое время по любым вопросам')
			+form-wrap
				+e.callBack-row.row
					+e.col.col-12.col-xl-auto.col-xxl
						//- +input('Ваше имя', 'text')
						//- 	+img('img/svg/user.svg')
						+e.input-wrap.form-group
							label
								+e.INPUT.input.form-control(name='text' type='text' placeholder='Ваше имя' style='--bgImg: url(../img/svg/user.svg); --bgImgFocus: url(../img/svg/user-colored.svg)')
								+e.SPAN.input-title Ваше имя
								+e.SPAN.bottom-border
					+e.col.col-12.col-xl-auto.col-xxl
						//- +input('Ваш телефон', 'tel')
						//- 	+img('img/svg/call.svg')
						+e.input-wrap.form-group
							label
								+e.INPUT.input.form-control(name='text' type='text' placeholder='Ваше имя' style='--bgImg: url(../img/svg/call.svg); --bgImgFocus: url(../img/svg/call-colored.svg)')
								+e.SPAN.input-title Ваш телефон
								+e.SPAN.bottom-border
					.col-12.col-xl
						+e.send
							+policy
							+e.btn.BUTTON.btn.btn-primary(type='submit') Отправить заявку
					+e.map-col
						script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')
						+e.map
							#map
			+e.sub-text Склады по&nbsp;всей территории РФ. Для уточнения наличия металла в&nbsp;вашем городе&nbsp;&mdash; звоните по&nbsp;телефону.
	// end sContactInfo