mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выезжаем на объект в любую точку России 
					span в течение суток
			+e.wrap
				+img('img/svg/mapOfRussia.svg').map
				ul
					mixin listitem(city, i)
						- let d = 20 * i
						li(data-aos="fade-in" data-aos-delay=d)
							+img('img/svg/logo.svg')
							!= city
					+listitem('Москва', 1)
					+listitem('Санкт-Петербург', 2)
					+listitem('Абакан', 3)
					+listitem('Анадырь', 4)
					+listitem('Барнаул', 5)
					+listitem('Белгород', 6)
					+listitem('Братск', 7)
					+listitem('Благовещенск', 8)
					+listitem('Воркута', 9)
					+listitem('Волгоград', 10)
					+listitem('Владивосток', 11)
					+listitem('Владикавказ', 12)
					+listitem('Воронеж', 13)
					+listitem('Екатеринбург', 14)
					+listitem('Иркутск', 15)
					+listitem('Казань', 16)
					+listitem('Красноярск', 17)
					+listitem('Краснодар', 18)
					+listitem('Лангепас', 19)
					+listitem('Магадан', 20)
					+listitem('Мурманск', 21)
					+listitem('Нижний Новгород', 22)
					+listitem('Новосибирск', 23)
					+listitem('Норильск', 24)
					+listitem('Омск', 25)
					+listitem('Петропавловск-Камчатский', 26)
					+listitem('Псков', 27)
					+listitem('Пермь', 28)
					+listitem('Ростов-на-Дону', 29)
					+listitem('Самара', 30)
					+listitem('Сочи', 31)
					+listitem('Смоленск', 32)
					+listitem('Салехард', 33)
					+listitem('Томск', 34)
					+listitem('Тула', 35)
					+listitem('Ульяновск', 36)
					+listitem('Уфа', 37)
					+listitem('Хабаровск', 38)
					+listitem('Ханты-Мансийск', 39)
					+listitem('Челябинск', 40)
					+listitem('Чита', 41)
					+listitem('Южно-Сахалинск', 42)
					+listitem('Якутск', 43)
			+e.footer-content
				h5 Не нашли свой город? Оставьте заявку и мы предоставим для Вас индивидуальные условия
				+e.btn.btn.btn-primary(href="#"  data-src='modal-call' data-fancybox="modal")
					+icon('phone-call')
					| Связаться с нами
	// end sMap