mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выезжаем на объект в любую точку России 
					span в течение суток
			+e.wrap
				+img('img/svg/mapOfRussia.svg').map
				ul
					mixin listitem(city, i)
						- let d = 20 * i
						li(data-aos="fade-in" data-aos-delay=d)
							+img('img/svg/logo.svg')
							!= city
					+listitem('Анадырь', 1)
					+listitem('Мурманск', 2)
					+listitem('Санкт-Петербург', 3)
					+listitem('Псков', 4)
					+listitem('Москва', 5)
					+listitem('Смоленск', 6)
					+listitem('Тула', 7)
					+listitem('Нижний Новгород', 8)
					+listitem('Воркута', 9)
					+listitem('Норильск', 10)
					+listitem('Ульяновск', 11)
					+listitem('Белгород', 12)
					+listitem('Пермь', 13)
					+listitem('Салехард', 14)
					+listitem('Воронеж', 15)
					+listitem('Магадан', 16)
					+listitem('Екатеринбург', 17)
					+listitem('Ростов-на-Дону', 18)
					+listitem('Казань', 19)
					+listitem('Лангепас', 20)
					+listitem('Волгоград', 21)
					+listitem('Якутск', 22)
					+listitem('Самара', 23)
					+listitem('Петропавловск-Камчатский', 24)
					+listitem('Ханты-Мансийск', 25)
					+listitem('Краснодар', 26)
					+listitem('Челябинск', 27)
					+listitem('Томск', 28)
					+listitem('Уфа', 29)
					+listitem('Сочи', 30)
					+listitem('Омск', 31)
					+listitem('Красноярск', 32)
					+listitem('Южно-Сахалинск', 33)
					+listitem('Владикавказ', 34)
					+listitem('Новосибирск', 35)
					+listitem('Абакан', 36)
					+listitem('Хабаровск', 37)
					+listitem('Братск', 38)
					+listitem('Барнаул', 39)
					+listitem('Благовещенск', 40)
					+listitem('Иркутск', 41)
					+listitem('Чита', 42)
					+listitem('Владивосток', 43)
			+e.footer-content
				h5 Не нашли свой город? Оставьте заявку и мы предоставим для Вас индивидуальные условия
				+e.btn.btn.btn-primary(href="#"  data-src='modal-call' data-fancybox="modal") Связаться с нами
	// end sMap