mixin sStages(title)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= title
			+e.row.row
				block
			+e.btn-wrap
				+e.btn.btn.btn-primary(href="#"  data-src='modal-call' data-fancybox="modal")
					+icon('phone-call')
					| Связаться с нами
	// end sStages