// start .sTeam
.sTeam {
	// --sPT: 0;
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		
	}
	&__sliders {
		--bs-gutter-y: 30px;
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(60)};
		}
		margin-top: calc(-1 * var(--bs-gutter-y));
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	.section-title {
		margin-bottom: 0;
		padding-bottom: var(--sTPB);
	}
	&__col {
	}
	&__item {
	}
	&__slider-wrap {
		position: relative;
		padding: 0 60px;
		@include media-breakpoint-up(sm) {
			padding: 0 80px;
		}
		&--team {
			margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
		}
	}
	&__img-wrap {
		@include block(290, 289);
		background-color: $gray-300;
		border-radius: $border-radius-lg;
		overflow: hidden;
	}
	.swiper-button-hand {
		--swiperArrowPosition: 0;
		--swiperArrowSize: 40px;
		top: calc(var(--slideH) / 2);
		margin: 0;
		transform: translateY(-50%);
		@include media-breakpoint-up(sm) {
			--swiperArrowSize: 50px;
		}
	}
	h3 {
		text-align: center;
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(45);
		}
	}
	&__slide {
		height: auto;
	}
	&__slide-caption {
		text-align: center;
		margin-top: 20px;
		@include media-breakpoint-up(lg) {
			margin-top: rem(30);
		}
		h5 {
			line-height: 1.5;
			margin-bottom: 10px;
		}
		span {
			color: $secondary;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTeam


