
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				if link.active && link.name
					li.menu-item.current-menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
				else 
					if link.name
						li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
				if link.subnav
					li.menu-item.menu-item-has-children
						a(href="#")= link.subname
						ul.sub-menu
							each sublink in link.subnav
								li.menu-item(itemprop="item" )
									a(href= '#' itemprop="url")= sublink.name
									if sublink.lastsubnav
										ul.sub-menu
											each lastsublink in sublink.lastsubnav
												li.menu-item(itemprop="item" )
													a(href= lastsublink.url itemprop="url")= lastsublink.name
													if lastsublink.subnav2
														ul.sub-menu
															each subnav2 in lastsublink.subnav2
																li.menu-item(itemprop="item" ): a(href= subnav2.url itemprop="url")= subnav2.name
//- menu