mixin item-soc(icon, a='#')
	+e.A.item(href= a target="_blank")&attributes(attributes)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			each soc in social
				+item-soc(soc.name)(style=`--color: ${soc.color}`)

mixin soc-content()
	+b.soc--content
		+item-soc('vk-cont').--vk
		+item-soc('whatsapp-cont').--whatsapp
		+item-soc('telegram-cont').--telegram
		+item-soc('copy-cont').--copy
		+item-soc('share-cont').--share

//- /social buttons 