mixin sCalculator(h)
	// start sCalculator
	+b.SECTION.sCalculator.section#sCalculator&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				if h
					h2!= h
				p Заполните один из&nbsp;параметров: тонны, м&sup2;, м.п.&nbsp;и&nbsp;получите сравнительный расчет стоимости шпунта Ларсена и&nbsp;трубошпунта
			+e.content
				+form-wrap
					+e.row.row
						.col
							.form-wrap__input-wrap.form-group
								label
									input.form-wrap__input.form-control(name='number' type='number' placeholder='Введите тонны' step='any')
									div.form-wrap__input-title
										span Введите 
										| тонны
						.col
							.form-wrap__input-wrap.form-group
								label
									input.form-wrap__input.form-control(name='number' type='number' placeholder='Введите м²' step='any')
									div.form-wrap__input-title
										span Введите 
										| м²
						.col
							.form-wrap__input-wrap.form-group
								label
									input.form-wrap__input.form-control(name='number' type='number' placeholder='Введите м.п.' step='any')
									div.form-wrap__input-title
										span Введите 
										| м.п.
				+e.table-wrap
					table
						thead
							tr
								th(scope="col") Наименование профиля
								th(scope="col") Ширина профиля, мм
								th(scope="col") Упругий момент сопротивиления см³/м
								th(scope="col") Вес м² шпунтовой стены, тн
								th(scope="col") Вес 1 м.п. шпунта, тн
								th(scope="col") м²
								th(scope="col") м.п.
								th(scope="col") тн
								th(scope="col") Цена за тонну, руб
								th(scope="col") Стоимость  м² шпунтовой стены, руб
								th(scope="col") Экономия на погружении в м.п.
						tbody
							tr
								th(scope="row") Шпунт AZ 13-770
								td 770
								td 1300
								td 0,0988
								td 0,0761
								td 0,7687
								td 1
								td 0,0761
								td 138 000,00
								td 13 634,40
								td до 40%
							tr
								th(scope="row") Шпунт AZ 24-700
								td 700
								td 2400
								td 0,1367
								td 0,0957
								td 0,7037
								td 1
								td 0,0957
								td 138 000,00
								td 8 864,60
								td до 40%
							tr
								th(scope="row") Шпунт GU18N
								td 600
								td 1800
								td 0,1282
								td 0,0769
								td 0,6000
								td 1
								td 0,0769
								td 138 000,00
								td 17 691,60
								td до 20%
							tr
								th(scope="row") Шпунт Л4
								td 400
								td 2200
								td 0,1850
								td 0,0740
								td 0,3890
								td 1
								td 0,0740
								td 97 000,00
								td 17 945,00
								td Нет
							tr
								th(scope="row") Шпунт Л5
								td 420
								td 2962
								td 0,2380
								td 0,1000
								td 0,4200
								td 1
								td 0,1000
								td 97 000,00
								td 23 086,00
								td До 20%
							tr
								th(scope="row") Шпунт Л5-УМ
								td 500
								td 3550
								td 0,2278
								td 0,1139
								td 0,5000
								td 1
								td 0,1139
								td 105 000,00
								td   23 919,00
								td До 20%
							tr
								th(scope="row") Шпунт VL606A/GU22N/ZU22
								td 600
								td 2200
								td 0,1436
								td 0,0861
								td 0,6000
								td 1
								td 0,0861
								td 138 000,00
								td   19 816,80
								td До 20%
							tr
								th(scope="row") Трубошпунт собственного производства: Модель АВМ 720.9
								td 710
								td 2485
								td 0,1494
								td 0,1061
								td 0,7100
								td 1
								td 0,1061
								td 120 000,00
								td 17 928,00
								td до 40%
							tr
								th(scope="row") Трубошпунт собственного производства: Модель АВМ 720.10
								td 710
								td 2750
								td 0,1621
								td 0,1151
								td 0,7100
								td 1
								td 0,1151
								td 120 000,00
								td 19 452,00
								td до 40%
				+e.footer
					p Свяжитесь с&nbsp;нами, чтобы получить коммерческое предложение
					+e.btn.btn.btn-primary(href="#"  data-src='modal-call' data-fancybox="modal")
						+icon('phone-call')
						| Связаться с нами

					

	// end sCalculator